<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <style>
    body {
      margin: 2% auto;
      background-color: #ededed;
    }
  </style>
  <title>Error</title>
</head>

<body>
  <div class="card mx-auto mb-3" style="max-width: 540px;">
    <div class="card-header text-white bg-danger">Ops..</div>
    <div class="card-body text-white bg-danger">
      <h5 class="card-title">Error</h5>
      <p class="card-text">Retry the login!
        {{#if message}}
            Error: {{message}}
        {{/if}}
      </p>
    </div>
    <div class="card-footer text-muted">
      Demo <a href="https://github.com/Eomm/blog-posts" target="_blank">repository</a>
    </div>
  </div>
</body>

</html>